@model Abyssal_Events.Models.ViewModel.FilterViewModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>@Model.CategoryName</h1>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if (Model is not null && Model.Events.Any())
            {
                @foreach (var eventPost in Model.Events)
                {
                    <div class="mb-5 bg-light box-shadow pb-2">
                        <img src="@eventPost.FeaturedImage" alt="@eventPost.Title" class="mb-2 d-block img-fluid" />
                        <h2 class="mb-4">@eventPost.Title</h2>
                        <p class="mb-3">
                            Organizer: @eventPost.Organizer
                            <br />
                            Date: @eventPost.Date.ToShortDateString()
                            <br />
                            <span class="badge bg-secondary mt-2 py-2">@eventPost.Category.Name</span>
                        </p>
                        <p class="mb-4">@eventPost.Description</p>
                        <a class="btn btn-dark" asp-area="" asp-controller="Events" asp-action="Index" asp-route-id="@eventPost.Id">Read more</a>
                    </div>
                }
                <nav>
                    <ul class="pagination justify-content-center">
                        @for (var pageNr = 1; pageNr <= @Model.MaxPageNumber; pageNr++)
                        {
                            <li class="page-item"><a class="page-link" style="color:black" asp-action="Filter" asp-controller="Events" asp-route-categoryId="@Model.CategoryId" asp-route-page="@pageNr"> @pageNr </a></li>
                        }
                    </ul>
                </nav>
            }
            else
            {
                <p>Not @Model.CategoryName Found</p>
            }
        </div>
    </div>
</div>